Django==1.8
psycopg2==2.4.4
cffi==1.7.0
cryptography==1.4
defusedxml==0.4.1
dj-database-url==0.4.1
future==0.15.2
gevent==1.1.1
gevent-eventemitter==1.4
greenlet==0.4.10
gunicorn==19.6.0
idna==2.1
oauthlib==1.1.2
protobuf==3.0.0b3
pyasn1==0.1.9
pycparser==2.14
pycryptodome==3.4
pyjwkest==1.1.0
PyJWT==1.4.0
python3-openid==3.0.10
requests-oauthlib==0.6.1
six==1.10.0
vdf==2.0
whitenoise==3.2
python-social-auth==0.2.19
