<div class="empty-spc"></div>
<div class="row">
    <div class="col-md-8 col-xs-12">
        <p>
            One of the most recent things I've done was implement ElasticSearch to National Journal's default and almanac search. It increased our default search from 3 seconds to 110 milliseconds. Our almanac was reduced from an average of 15 seconds to 130 milliseconds.
        </p>

        <img src="/static/images/elastic_impl.png">

        <p>
            (Ex. Graph showing the average time of the default search. When the mountains become a flat line is when ElasticSearch was pushed to production.)
        </p>

    </div>
</div>