<div>
	<p>
		This is a chartbuilder I rebuilt for National Journal's backend. Modifications were made, such as loading with prepopulated data from the CMS, small changes, etc. that are not shown here.
	</p>
</div>

<script type="text/javascript" src="/static/plugins/plotly.js-1.14.2/dist/plotly.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/plugins/bgrins-spectrum-98454b5/spectrum.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/plugins/js-xlsx/src/xlsx.core.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/plugins/faisalman-simple-excel-js-3a2b9be/src/simple-excel.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/static/plugins/bgrins-spectrum-98454b5/spectrum.css">
<script type="text/javascript" src="/static/js/plotly_builder.js" charset="utf-8"></script>
<link rel="stylesheet" href="/static/css/ploty_builder.css">
<div class="plotly-container">
	<div class="plotly-block">
		<div class="graph-options">
			<div class="field long">
				<span>Title:</span> <input name="title" type="text">
			</div>
			<div class="field long">
				<span>Source:</span> <input name="source" type="text">
			</div>
			<!--
			<div class="field">
				<input type="file" id="fileInput" name="file" class="import_plotly_data_btn">
			</div>
			-->

			<div class="field">
				<div class="block-subtitle spc">
					Data: <span class="hide-textarea-btn">Hide</span><br>
				</div>
				<div class="block-subtitle spc">
					<span class="example-btn">Render Example</span><br>
				</div>
				<textarea name="database"></textarea>
			</div>

			<div class="field">
				<div class="block-subtitle">
					Series Options
				</div>
			</div>
			<div class="field">
				<ul class="list_series">
					<!-- insert dynamically -->
				</ul>
			</div>
		</div>

		<div class="axis-options">
			<div class="option">
				<div class="field btn">
					<div class="block-subtitle">
						X-Axis Options
					</div>
				</div>
				<div class="pulldown">
					<div class="field">
						<span>Title:</span> <input name="x-title" type="text">
					</div>
					<div class="field">
						<span>Prefix:</span> <input name="x-prefix" type="text">
						<div class="sep">
							<input name="x-pre-first" type="checkbox"> <span>First One Only</span>
						</div>
					</div>
					<div class="field">
						<span>Suffix:</span> <input name="x-suffix" type="text">
						<div class="sep">
							<input name="x-suf-first" type="checkbox"> <span>First One Only</span>
						</div>
					</div>
					<div class="field">
						<span>Number of Ticks:</span> <input name="x-num_ticks" type="text">
					</div>
					<div class="field">
						<span>Min:</span> <input name="x-min" type="text">
					</div>
					<div class="field">
						<span>Max:</span> <input name="x-max" type="text">
					</div>
				</div>
			</div>
			<div class="option">
				<div class="field btn">
					<div class="block-subtitle">
						Y-Axis Options 
					</div>
				</div>
				<div class="pulldown">
					<div class="field">
						<span>Title:</span> <input name="y-title" type="text">
					</div>
					<div class="field">
						<span>Prefix:</span> <input name="y-prefix" type="text">
						<div class="sep">
							<input name="y-pre-first" type="checkbox"> <span>First One Only</span>
						</div>
					</div>
					<div class="field">
						<span>Suffix:</span> <input name="y-suffix" type="text">
						<div class="sep">
							<input name="y-suf-first" type="checkbox"> <span>First One Only</span>
						</div>
					</div>
					<div class="field">
						<span>Number of Ticks:</span> <input name="y-num_ticks" type="text">
					</div>
					<div class="field">
						<span>Min:</span> <input name="y-min" type="text">
					</div>
					<div class="field">
						<span>Max:</span> <input name="y-max" type="text">
					</div>
				</div>
			</div>
		</div>
		<div class="graph-display">
			<div id="myDiv" class="dynamic-graph">
				<!-- render here -->
			</div>
		</div>
		<input type="hidden" name="graph-data">
		<input type="hidden" name="graph-layout">
	</div>
</div>