.container{
	width:100%;
}

#header{
	max-height:215px;
	.foreground{
		top:0;
		padding-right:10px;

		span{
			font-size:28px;
			line-height:32px;
		}

		p{
			padding-bottom:5px;
			margin-bottom:-8px;
		}

		.second{
			padding-right:20px;
		}
		
		.third{
			padding-right:50px;
		}
	}
}

#title{
	font-size:50px;
	margin-top:-40px;
}

#nav{
	ul{
		font-size:15px;
	}

	&.fixed{
		height:29px;
	}
}

.nav-wrapper{
	padding-bottom:0;
	min-height:30px;
}

.row{
	margin:0;
}

#main{
	padding-top:0;
	border:0;
	box-shadow:none;
	margin-bottom:0;

	.col-xs-12{
		padding:0;

		.details{
			padding:0 20px;
		}
	}

	.header{
		margin-top:40px;
	}

	.pad-top-large{
		margin-top:40px;
	}
}

#footer{
	.foreground{
		top:0;
		left:0;
		overflow:hidden;
		padding-left:10px;

		span{
			font-size:28px;
		}

		.f_1{
			padding-left:0;
		}

		p{
			margin-bottom:5px;
		}
	}
}

.code-body{
	.exp{
		width:100%;
		padding:0 20px;
	}
}

.empty-spc{
	padding:15px 0;
}

#projectBody{
	min-height:100vh;
	height:auto;
	.project{
		width:50%;
		height:100vh;
		border-top:1px dashed #fff;

		.text{
			.headline{
				font-size:28px;
			}
		}
	}
}

#clayModel{
	.text-container{
		top:0px;
		left:20px;
		transform:none;
		-webkit-transform:none;
		-ms-transform:none;
		z-index:2;
		p{
			width:100%;
		}
	}

	.header{
		font-size:50px;
	}
}

#muayThai{
	min-height:100vh;
	.bg-wrapper{
		height:initial;
		min-height:initial;

		img{
			padding-top:30px;
		}
	}
	.text-container{
		width:95%;
		margin:2.5%;
		top:42vh;
		left:0;
		bottom:initial;
		z-index:2;
		background:#fff;
		border-radius:0;
		border:1px dashed #000;

		.header{
			font-size:40px;
		}
	}
}

#videoGaming{
	.bg-wrapper{
		img{
			width:initial;
			height:100vh;
		}
	}

	.text-container{
		right:20px;
		bottom:20px;
		.header{
			font-size:50px;
		}
	}

	.games{
		img{
			max-height:35px;
		}
	}

	.list_sp_games{
		.lightbox{
			width:220px;
		}
	}
}

#guitar{
	.bg-wrapper{
		img{
			height:100vh;
			width:initial;
		}
	}

	.video{
		width:100%;
		top:0;
		left:0;
		transform:none;
		-ms-transform:none;
		-webkit-transform:none;
		height:290px;
		z-index:3;

		video{
			width:100%;
			height:290px;
		}
	}

	.text-container{
		width:100%;
		top:50vh;
		border:none;
		left:0;
		transform:none;
		-ms-transform:none;
		-webkit-transform:none;
		.header{
			font-size:50px;
		}
	}
}

#drawing{
	.bg-wrapper{
		img{
			height:100vh;
			width:initial;
		}
	}
	.text-container{
		width:90%;
		.header{
			font-size:50px;
		}
	}
}

.snp-banner{
	.snp-title{
		padding-left:20px;
	}
	a{
		padding:5px 10px;
	}
}

.code-body{
	h1{
		margin-left:20px;
	}
}