<div class="topic">
	<h3>Pokemon</h3>
	<ul>
		<li class="subtopic">
			<span data-url="pokemon-index/0">Identification #</span>
		</li>
		<li class="subtopic">
			<span>Region</span>
			<div class="more">
				<div class="more-item" data-type="region" data-id="1">
					Kanto
				</div>
				<div class="more-item" data-type="region" data-id="2">
					Johto
				</div>
				<div class="more-item" data-type="region" data-id="3">
					Hoenn
				</div>
				<div class="more-item" data-type="region" data-type="region" data-id="4">
					Sinnoh
				</div>
				<div class="more-item" data-type="region" data-id="5">
					Unova
				</div>
				<div class="more-item" data-type="region" data-id="6">
					Kalos
				</div>
			</div>
		</li>
		<li class="subtopic">
			<span>Biome</span>
			<div class="more">
				<div class="more-item" data-type="pokemon-habitat" data-id="1">
					Cave
				</div>
				<div class="more-item" data-type="pokemon-habitat" data-id="2">
					Forest
				</div>
				<div class="more-item" data-type="pokemon-habitat" data-id="3">
					Grassland
				</div>
				<div class="more-item" data-type="pokemon-habitat" data-id="4">
					Mountain
				</div>
				<div class="more-item" data-type="pokemon-habitat" data-id="5">
					Rare
				</div>
				<div class="more-item" data-type="pokemon-habitat" data-id="6">
					Rough Terrain
				</div>
				<div class="more-item" data-type="pokemon-habitat" data-id="7">
					Sea
				</div>
				<div class="more-item" data-type="pokemon-habitat" data-id="8">
					Urban
				</div>
				<div class="more-item" data-type="pokemon-habitat" data-id="9">
					Waters Edge
				</div>
			</div>
		</li>
		<li class="subtopic">
			<span>Type</span>
			<div class="more">
				<div class="more-item" data-type="type" data-id="1">
					Normal
				</div>
				<div class="more-item" data-type="type" data-id="2">
					Fighting
				</div>
				<div class="more-item" data-type="type" data-id="3">
					Flying
				</div>
				<div class="more-item" data-type="type" data-id="4">
					Poison
				</div>
				<div class="more-item" data-type="type" data-id="5">
					Ground
				</div>
				<div class="more-item" data-type="type" data-id="6">
					Rock
				</div>
				<div class="more-item" data-type="type" data-id="7">
					Bug
				</div>
				<div class="more-item" data-type="type" data-id="8">
					Ghost
				</div>
				<div class="more-item" data-type="type" data-id="9">
					Steel
				</div>
				<div class="more-item" data-type="type" data-id="10">
					Fire
				</div>
				<div class="more-item" data-type="type" data-id="11">
					Water
				</div>
				<div class="more-item" data-type="type" data-id="12">
					Grass
				</div>
				<div class="more-item" data-type="type" data-id="13">
					Electric
				</div>
				<div class="more-item" data-type="type" data-id="14">
					Psychic
				</div>
				<div class="more-item" data-type="type" data-id="15">
					Ice
				</div>
				<div class="more-item" data-type="type" data-id="16">
					Dragon
				</div>
				<div class="more-item" data-type="type" data-id="17">
					Dark
				</div>
				<div class="more-item" data-type="type" data-id="18">
					Fairy
				</div>
				<div class="more-item" data-type="type" data-id="10001">
					Unknown
				</div>
				<div class="more-item" data-type="type" data-id="10002">
					Shadow
				</div>
			</div>
		</li>
	</ul>
</div>