@font-face {
  font-family: 'Saint Andrews';
  src: url('../fonts/Saint-Andrews Queen.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GlacialInd';
  src: url('../fonts/GlacialIndifference-Regular.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GlacialInd';
  src: url('../fonts/GlacialIndifference-Bold.otf');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'GlacialInd';
  src: url('../fonts/GlacialIndifference-Italic.otf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Griffos';
  src: url('../fonts/GriffosFont.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Elegant Icons';
  src: url('../fonts/ElegantIcons.eot');
  src: url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'), url('../fonts/ElegantIcons.woff') format('woff'), url('../fonts/ElegantIcons.ttf') format('truetype'), url('../fonts/ElegantIcons.svg#eleganticonsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* line 3, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.glacial {
  font-family: 'GlacialInd', serif;
}
/* line 6, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.saint {
  font-family: 'Saint Andrews', sans-serif;
}
/* line 9, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.griffos {
  font-family: 'Griffos', serif;
}
/* line 18, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 24, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
body {
  margin: 0;
  font-family: 'GlacialInd', serif;
  font-size: 15px;
}
/* line 30, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.container {
  width: 1120px;
  margin: 0 auto;
}
/* line 35, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.row {
  width: 100%;
}
/* line 39, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.nav-wrapper {
  min-height: 63px;
  padding-bottom: 30px;
  width: 100%;
  clear: both;
  float: left;
}
/* line 47, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#header {
  max-height: 500px;
  overflow: hidden;
}
/* line 50, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#header img {
  width: 100%;
  z-index: -1;
  position: relative;
}
/* line 56, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#header .foreground {
  color: #ffffff;
  right: 0;
  padding-right: 100px;
  text-align: right;
}
/* line 61, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#header .foreground .second {
  padding-right: 100px;
}
/* line 66, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#header .img-wrapper {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+39,0.65+100 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
  /* IE6-9 */
  width: 100%;
  height: 100%;
}
/* line 75, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#header .img-wrapper img {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
/* line 83, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.foreground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40px;
}
/* line 89, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.foreground span {
  font-family: 'Saint Andrews', sans-serif;
  font-size: 55px;
  display: inline-block;
  visibility: hidden;
}
/* line 95, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.foreground span.smaller {
  font-size: 40px;
}
/* line 100, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.foreground p {
  display: none;
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
}
/* line 106, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.foreground p.more {
  margin-bottom: -25px;
}
/* line 112, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#title {
  font-size: 125px;
  font-weight: bold;
  font-family: 'Saint Andrews', sans-serif;
  margin-top: -100px;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+58&0+0,1+55 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 55%, #ffffff 58%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 55%, #ffffff 58%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 55%, #ffffff 58%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
/* line 127, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav {
  transition: all ease-in 0.15s;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  clear: both;
  float: left;
  position: relative;
  z-index: 2;
  bottom: -1px;
  background: #fff;
}
/* line 140, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav.fixed {
  position: fixed;
  background: #516B8C;
  padding: 0;
  top: 0;
  left: 0;
  height: 35px;
  z-index: 9999;
  box-shadow: 0px 1px 20px #000;
}
/* line 149, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav.fixed a {
  color: #fff;
  border-left: 1px solid #fff;
}
/* line 152, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav.fixed a:last-child {
  border-right: 1px solid #fff;
}
/* line 155, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav.fixed a:hover {
  color: #516B8C;
}
/* line 159, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav.fixed a.hvr-sweep-to-bottom:before {
  background: #fff;
}
/* line 164, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav.fixed .left {
  color: #fff;
  font-family: 'Saint Andrews', sans-serif;
  text-transform: none;
  float: left;
  font-size: 32px;
  font-weight: 500;
  text-shadow: -1px -1px 0 #516b8c, 1px -1px 0 #516b8c, -1px 1px 0 #516b8c, 1px 1px 0 #516b8c;
}
/* line 179, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav .left {
  display: none;
}
/* line 183, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav .col-xs-12 {
  border-top: 1px solid #516B8C;
}
/* line 186, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 192, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav li {
  float: left;
}
/* line 196, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav a {
  text-decoration: none;
  color: #516B8C;
  cursor: pointer;
  padding: 5px 20px;
}
/* line 201, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav a:hover {
  color: #fff;
}
/* line 205, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#nav a.hvr-sweep-to-bottom:before {
  background: #516B8C;
}
/* line 212, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.gray {
  -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  -o-filter: grayscale(70%);
}
/* line 218, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  z-index: 1;
  margin-bottom: -125px;
  padding-bottom: 40px;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 10px 30px #ccc;
}
/* line 229, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .header {
  width: 100%;
  clear: both;
  padding: 5px 5px;
  background: #516B8C;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}
/* line 239, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .header.hvr-ripple-out:before {
  border-color: #516B8C;
}
/* line 245, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main p {
  margin: 0;
  width: 100%;
  clear: both;
  float: left;
}
/* line 251, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .text-right {
  text-align: right;
}
/* line 255, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .left,
#main .right {
  display: inline-block;
  width: 50%;
}
/* line 259, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .left {
  float: left;
}
/* line 262, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .right {
  float: right;
  text-align: right;
}
/* line 266, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .pad {
  padding-bottom: 10px;
}
/* line 269, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .pad-top {
  margin-top: 20px;
}
/* line 272, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .pad-top-large {
  margin-top: 75px;
}
/* line 276, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .subheader {
  font-family: 'Griffos', serif;
  font-size: 22px;
}
/* line 280, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .subheader + .right {
  padding-top: 5px;
}
/* line 285, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .title {
  margin-top: 20px;
  border-bottom: 1px solid #516B8C;
  width: 100%;
  float: left;
  clear: both;
  text-transform: uppercase;
  font-size: 20px;
}
/* line 295, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .title.border-top {
  border-top: 1px dashed #ccc;
  padding-top: 30px;
}
/* line 303, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#main .details.list ul {
  padding-left: 20px;
  margin-bottom: 0;
}
/* line 311, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#footer {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  position: relative;
}
/* line 316, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#footer .img-wrapper {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+17,ffffff+100&1+19,0+100 */
  background: -moz-linear-gradient(top, #ffffff 17%, #ffffff 19%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 17%, #ffffff 19%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 17%, #ffffff 19%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
  width: 100%;
  height: 100%;
}
/* line 325, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#footer img {
  width: 100%;
  z-index: -1;
  position: relative;
}
/* line 331, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#footer .foreground {
  left: 40px;
  top: 185px;
}
/* line 335, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#footer .foreground .f_1 {
  margin-left: 50px;
}
/* line 338, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#footer .foreground .f_3 {
  margin-left: 70px;
}
/* line 341, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#footer .foreground .f_4 {
  margin-left: 180px;
}
/* line 347, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#hobbyHeader {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
  font-family: 'Saint Andrews', sans-serif;
  font-size: 120px;
  border-bottom: 1px dashed #fff;
}
/* line 356, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#hobbyHeader .abs_center {
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 365, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#hobbyHeader .hobby-header-wrapper {
  min-height: 40px;
  margin: 20px auto 0 auto;
  width: 218px;
}
/* line 371, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#hobbyHeader ul {
  list-style: none;
  width: 218px;
  padding: 0;
  margin: 0;
}
/* line 376, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#hobbyHeader ul li {
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 20px;
  float: left;
  padding: 4px 10px;
  margin-right: 15px;
}
/* line 384, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#hobbyHeader ul li:last-child {
  margin-right: 0;
}
/* line 387, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#hobbyHeader ul li:hover {
  background: #fff;
  color: #000;
}
/* line 394, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#hobbyHeader .answer {
  font-size: 20px;
  width: 100%;
  clear: both;
  float: left;
  text-align: center;
  margin-top: 20px;
  font-family: 'Griffos', serif;
  min-height: 26.88px;
  min-width: 1px;
}
/* line 407, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#clayModel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  border-bottom: 1px dashed #fff;
  background: #000;
}
/* line 414, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#clayModel:before {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+14,000000+14&1+0,0+19 */
  background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.26) 14%, rgba(0, 0, 0, 0) 19%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.26) 14%, rgba(0, 0, 0, 0) 19%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.26) 14%, rgba(0, 0, 0, 0) 19%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 428, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#clayModel .bg-wrapper {
  background: #000;
  width: 100%;
  height: 100vh;
  position: relative;
}
/* line 433, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#clayModel .bg-wrapper .img-container {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
/* line 438, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#clayModel .bg-wrapper .img-container:first-child {
  display: block;
}
/* line 441, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#clayModel .bg-wrapper .img-container:before {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+40&1+0,0+44,0+44 */
  background: -moz-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0.09) 40%, rgba(0, 0, 0, 0) 44%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0.09) 40%, rgba(0, 0, 0, 0) 44%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0.09) 40%, rgba(0, 0, 0, 0) 44%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
  position: absolute;
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
}
/* line 454, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#clayModel .bg-wrapper img {
  height: 100vh;
}
/* line 459, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#clayModel .text-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: #fff;
  left: 50px;
}
/* line 468, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#clayModel .text-container .header {
  width: 100%;
}
/* line 472, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#clayModel .text-container p {
  width: 33.333%;
  margin: 0;
}
/* line 475, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#clayModel .text-container p:not(.header) {
  margin-bottom: 15px;
}
/* line 482, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.text-container {
  display: none;
}
/* line 485, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.text-container .header {
  width: 100%;
  font-size: 100px;
  font-family: 'Saint Andrews', sans-serif;
}
/* line 491, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
.text-container p {
  margin: 0;
}
/* line 496, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#muayThai {
  position: relative;
  z-index: -1;
  min-height: 100vh;
  width: 100%;
  background: #000;
  border-bottom: 1px dashed #fff;
}
/* line 503, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#muayThai:before {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+14,000000+14&1+0,0+19 */
  background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.26) 14%, rgba(0, 0, 0, 0) 19%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.26) 14%, rgba(0, 0, 0, 0) 19%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.26) 14%, rgba(0, 0, 0, 0) 19%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 518, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#muayThai .bg-wrapper {
  min-height: 100vh;
  width: 100%;
  opacity: .75;
}
/* line 522, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#muayThai .bg-wrapper img {
  visibility: hidden;
  width: 100%;
}
/* line 528, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#muayThai .text-container {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background: rgba(255, 255, 255, 0.75);
  color: #000;
  border-radius: 25px;
  width: 60%;
  padding: 20px;
}
/* line 540, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming {
  position: relative;
  background: #000;
  overflow: hidden;
  border-bottom: 1px dashed #fff;
}
/* line 545, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .bg-wrapper {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
}
/* line 550, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .bg-wrapper img {
  width: 100%;
  visibility: hidden;
}
/* line 555, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .bg-wrapper .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
  background: #606c88;
  /* Old browsers */
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#3f4c6b', GradientType=0);
  /* IE6-9 */
}
/* line 572, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .text-container {
  position: absolute;
  right: 50px;
  bottom: 50px;
  color: #fff;
  z-index: 5;
  display: block;
}
/* line 581, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .games {
  position: relative;
  display: inline-block;
  padding: 10px 0;
}
/* line 585, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .games:before {
  content: '';
  position: absolute;
  top: 0;
  left: -9999px;
  width: 99999px;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 1px 1px 25px rgba(255, 255, 255, 0.85);
}
/* line 595, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .games img {
  float: left;
  margin-right: 15px;
  max-height: 70px;
}
/* line 602, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .list_sp_games {
  position: relative;
}
/* line 604, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .list_sp_games .btn {
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'GlacialInd', serif;
  width: 200px;
  padding: 5px 10px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  background: transparent;
}
/* line 619, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .list_sp_games .btn:hover:before {
  background: #516B8C;
}
/* line 624, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .list_sp_games .lightbox {
  display: none;
  position: absolute;
  bottom: 60px;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  width: 250px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #000;
  color: #000;
  padding: 0 20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}
/* line 638, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .list_sp_games .lightbox ul {
  list-style: none;
  padding: 0;
}
/* line 642, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#videoGaming .list_sp_games .lightbox ul .divide {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
/* line 652, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#guitar {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 657, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#guitar .bg-wrapper {
  position: relative;
}
/* line 659, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#guitar .bg-wrapper:before {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 673, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#guitar .bg-wrapper img {
  width: 100%;
  visibility: hidden;
}
/* line 678, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#guitar .video {
  width: 580px;
  height: 435px;
  background: #000;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 50px;
  position: absolute;
  z-index: 2;
  box-shadow: 0px 2px 40px #000;
}
/* line 695, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#guitar .text-container {
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: block;
  right: 40px;
  position: absolute;
  z-index: 2;
  background: #fff;
  border: 1px solid black;
  width: 500px;
  padding: 0 20px 20px 20px;
}
/* line 712, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#drawing {
  border-top: 1px dashed #000;
  background: #fff;
  position: relative;
  overflow: hidden;
}
/* line 717, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#drawing .bg-wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  filter: blur(10px);
  -ms-filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: ease-in all 0.35s;
  -ms-transition: ease-in all 0.35s;
  -webkit-transition: ease-in all 0.35s;
}
/* line 728, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#drawing .bg-wrapper.clean {
  filter: blur(0);
  -ms-filter: blur(0);
  -webkit-filter: blur(0);
}
/* line 733, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#drawing .bg-wrapper img {
  width: 100%;
}
/* line 738, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#drawing .text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-bottom: 30px;
}
/* line 755, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#projectBody {
  background: #000;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
/* line 760, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#projectBody .project {
  display: block;
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-right: 1px dashed #fff;
  filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: ease-in all 0.25s;
  -ms-transition: ease-in all 0.25s;
  -webkit-transition: ease-in all 0.25s;
  cursor: pointer;
  text-decoration: none;
}
/* line 777, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#projectBody .project.disabled {
  cursor: default;
}
/* line 780, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#projectBody .project:hover {
  filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
/* line 786, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#projectBody .project:first-child:before {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad2800+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(left, #ad2800 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ad2800 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ad2800 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad2800', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 */
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  opacity: 0.65;
}
/* line 802, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#projectBody .project:last-child {
  border-right: 0;
}
/* line 805, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#projectBody .project img {
  height: 100%;
  position: relative;
  z-index: -1;
}
/* line 810, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#projectBody .project .text {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  left: 50%;
  color: #fff;
  width: 100%;
  text-align: center;
  z-index: 5;
}
/* line 822, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#projectBody .project .text .headline {
  font-size: 50px;
  font-family: 'Griffos', serif;
}
/* line 826, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/base.less */
#projectBody .project .text .subheadline {
  font-size: 15px;
  font-family: 'GlacialInd', serif;
}
@media only screen and (max-width: 1120px) {
  /* line 1, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/tablet.less */
  .container {
    width: 740px;
  }
}
@media only screen and (max-width: 740px) {
  /* line 1, /Users/ijeong/Documents/Projects/Github/my_website/home/static/less/phone.less */
  .container {
    width: 100%;
  }
}
/* line 2, dotaseeker.less */
.fullWidth {
  clear: both;
  width: 100%;
  float: left;
}
/* line 7, dotaseeker.less */
.dotaseeker {
  position: relative;
  background: #000;
  min-height: 100vh;
  clear: both;
  width: 100%;
  float: left;
}
/* line 13, dotaseeker.less */
.dotaseeker .border-right {
  border-right: 1px solid #999;
}
/* line 16, dotaseeker.less */
.dotaseeker .content {
  clear: both;
  width: 100%;
  float: left;
}
/* line 19, dotaseeker.less */
.dotaseeker .left-div {
  float: left;
  width: 63.666%;
  margin-right: 3%;
}
/* line 24, dotaseeker.less */
.dotaseeker .right-div {
  float: left;
  width: 33.333%;
}
/* line 28, dotaseeker.less */
.dotaseeker .top {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 33, dotaseeker.less */
.dotaseeker .top img {
  width: 100%;
}
/* line 36, dotaseeker.less */
.dotaseeker .top .img-wrapper {
  position: relative;
  clear: both;
  width: 100%;
  float: left;
}
/* line 39, dotaseeker.less */
.dotaseeker .top .img-wrapper:before {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+49,000000+100&0+92,1+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0) 92%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0) 92%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0) 92%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 53, dotaseeker.less */
.dotaseeker .top .tv-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 59, dotaseeker.less */
.dotaseeker .top .tv-wrapper .tv {
  width: 100%;
  height: 100%;
}
/* line 63, dotaseeker.less */
.dotaseeker .top .tv-wrapper .tv .screen {
  opacity: 0;
  transition: opacity .5s;
}
/* line 67, dotaseeker.less */
.dotaseeker .top .tv-wrapper .tv .screen.active {
  opacity: 1;
}
/* line 72, dotaseeker.less */
.dotaseeker .top .tv-wrapper .icon {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
/* line 81, dotaseeker.less */
.dotaseeker .top h1 {
  position: absolute;
  top: -10px;
  right: 40px;
  color: #fff;
  font-size: 100px;
  text-shadow: 2px 2px 10px #000;
  text-transform: uppercase;
  font-family: 'Griffos', serif;
  z-index: 1000;
  font-weight: 100;
  margin: 0;
}
/* line 94, dotaseeker.less */
.dotaseeker .top h1 span {
  font-family: 'GlacialInd', serif;
  font-size: 14px;
  display: block;
  font-weight: 100;
  text-align: right;
}
/* line 104, dotaseeker.less */
.dotaseeker .middle {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  padding-bottom: 20px;
  color: #fff;
}
/* line 111, dotaseeker.less */
.dotaseeker .middle:not(.playing) {
  background: #000;
}
/* line 113, dotaseeker.less */
.dotaseeker .middle:not(.playing):before {
  content: '';
  position: absolute;
  left: -55%;
  top: 0;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=1);
  /* IE6-9 */
}
/* line 129, dotaseeker.less */
.dotaseeker .middle > p {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin: 10px 40px 10px 0;
  padding: 0;
  position: relative;
  z-index: 2;
}
/* line 139, dotaseeker.less */
.dotaseeker .middle > p.thin {
  font-weight: 100;
  text-transform: none;
}
/* line 146, dotaseeker.less */
.dotaseeker .middle.playing .overlay {
  background: rgba(255, 255, 255, 0.55);
}
/* line 150, dotaseeker.less */
.dotaseeker .middle .overlay {
  margin-right: 40px;
  background: #fff;
  color: #000;
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px #fff;
  transition: ease-in all 0.25s;
  -ms-transition: ease-in all 0.25s;
  -webkit-transition: ease-in all 0.25s;
}
/* line 151, dotaseeker.less */
.dotaseeker .middle .overlay:first-child {
  margin-top: 160px;
}
/* line 166, dotaseeker.less */
.dotaseeker .middle .overlay span {
  display: inline-block;
  font-size: 20px;
}
/* line 170, dotaseeker.less */
.dotaseeker .middle .overlay span.error {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  color: red;
}
/* line 179, dotaseeker.less */
.dotaseeker .middle .overlay form input {
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 20px;
  font-family: 'GlacialInd', serif;
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}
/* line 189, dotaseeker.less */
.dotaseeker .middle .overlay form .btn-submit {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #fff;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
}
/* line 201, dotaseeker.less */
.dotaseeker .middle .overlay form .btn-submit:before {
  background: #fff;
}
/* line 204, dotaseeker.less */
.dotaseeker .middle .overlay form .btn-submit:hover {
  background: #000;
  color: #fff;
  border: 1px solid #000;
}
/* line 214, dotaseeker.less */
.dotaseeker.dashboard {
  background: #000;
  margin-top: 40px;
}
/* line 215, dotaseeker.less */
.dotaseeker.dashboard .bg-item {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 219, dotaseeker.less */
.dotaseeker.dashboard .bg-item:after {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  content: '';
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 237, dotaseeker.less */
.dotaseeker .ds-nav {
  z-index: 9999;
  position: fixed;
  height: 40px;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  box-shadow: 1px 1px 10px #000;
  color: #fff;
}
/* line 247, dotaseeker.less */
.dotaseeker .ds-nav .nav-title {
  float: left;
}
/* line 249, dotaseeker.less */
.dotaseeker .ds-nav .nav-title > * {
  float: left;
}
/* line 252, dotaseeker.less */
.dotaseeker .ds-nav .nav-title img {
  margin-top: 8px;
  height: 25px;
  width: 25px;
}
/* line 257, dotaseeker.less */
.dotaseeker .ds-nav .nav-title span {
  display: inline-block;
  padding: 12px 0;
  text-transform: uppercase;
  font-family: 'Griffos', serif;
  margin-left: 10px;
}
/* line 266, dotaseeker.less */
.dotaseeker .ds-nav ul {
  float: right;
  list-style: none;
  padding: 8px 0px;
  margin: 0;
}
/* line 271, dotaseeker.less */
.dotaseeker .ds-nav ul li {
  float: left;
}
/* line 273, dotaseeker.less */
.dotaseeker .ds-nav ul li div,
.dotaseeker .ds-nav ul li input {
  display: inline-block;
  float: left;
}
/* line 277, dotaseeker.less */
.dotaseeker .ds-nav ul li div {
  border: 1px solid #fff;
  font-weight: bold;
  padding: 2px 4px 2px 2px;
  margin-top: 1px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  cursor: pointer;
  background: #fff;
  color: #000;
}
/* line 287, dotaseeker.less */
.dotaseeker .ds-nav ul li div:hover {
  background: #000;
  color: #fff;
}
/* line 292, dotaseeker.less */
.dotaseeker .ds-nav ul li input {
  width: 150px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 0;
  background: #fff;
  color: #000;
  font-size: 16px;
  padding: 1px 5px 2px 5px;
}
/* line 307, dotaseeker.less */
.dotaseeker .content-wrapper {
  position: relative;
  background: #ffffff;
  min-height: 100vh;
  z-index: 1;
  box-shadow: 2px 0px 50px #fff;
  padding: 40px;
  clear: both;
  overflow: hidden;
}
/* line 318, dotaseeker.less */
.dotaseeker .main-info {
  clear: both;
  width: 100%;
  float: left;
}
/* line 321, dotaseeker.less */
.dotaseeker .main-info .username {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Griffos', serif;
  margin-bottom: 20px;
}
/* line 329, dotaseeker.less */
.dotaseeker .picture {
  border: 1px solid #ccc;
  position: relative;
  clear: both;
  width: 100%;
  float: left;
}
/* line 334, dotaseeker.less */
.dotaseeker .picture img {
  clear: both;
  width: 100%;
  float: left;
}
/* line 337, dotaseeker.less */
.dotaseeker .picture .mmr,
.dotaseeker .picture .pos-type {
  clear: both;
  width: 100%;
  float: left;
  color: #fff;
  text-align: center;
  padding: 6px 0;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 345, dotaseeker.less */
.dotaseeker .picture .pos-type {
  background: #000;
}
/* line 348, dotaseeker.less */
.dotaseeker .picture .mmr {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  /* IE6-9 */
  color: #000;
}
/* line 359, dotaseeker.less */
.dotaseeker img {
  clear: both;
  width: 100%;
  float: left;
}
/* line 364, dotaseeker.less */
.dotaseeker .steam-login img {
  width: 180px;
  height: 35px;
  display: block;
  margin: 10px auto;
}
/* line 372, dotaseeker.less */
.dotaseeker .name,
.dotaseeker .pos,
.dotaseeker .other-pos,
.dotaseeker .region {
  margin-bottom: 5px;
}
/* line 374, dotaseeker.less */
.dotaseeker .name .col-md-6,
.dotaseeker .pos .col-md-6,
.dotaseeker .other-pos .col-md-6,
.dotaseeker .region .col-md-6 {
  font-weight: 500;
}
/* line 376, dotaseeker.less */
.dotaseeker .name .col-md-6:first-child,
.dotaseeker .pos .col-md-6:first-child,
.dotaseeker .other-pos .col-md-6:first-child,
.dotaseeker .region .col-md-6:first-child {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
}
/* line 385, dotaseeker.less */
.dotaseeker .divider {
  clear: both;
  width: 100%;
  float: left;
  margin-top: 40px;
}
/* line 388, dotaseeker.less */
.dotaseeker .divider.main-team {
  margin-top: 60px;
}
/* line 391, dotaseeker.less */
.dotaseeker .divider .title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 400, dotaseeker.less */
.dotaseeker .pos .bg-title {
  font-size: 16px;
}
/* line 405, dotaseeker.less */
.dotaseeker .bg-title {
  font-size: 12px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  padding: 5px;
  clear: both;
  width: 100%;
  float: left;
}
/* line 414, dotaseeker.less */
.dotaseeker .fav-heroes {
  margin-top: 10px;
}
/* line 416, dotaseeker.less */
.dotaseeker .fav-heroes .row {
  margin: 0;
}
/* line 418, dotaseeker.less */
.dotaseeker .fav-heroes .row .col-md-12 {
  padding: 0;
}
/* line 422, dotaseeker.less */
.dotaseeker .fav-heroes ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-left: 1px solid #000;
  clear: both;
  width: 100%;
  float: left;
}
/* line 429, dotaseeker.less */
.dotaseeker .fav-heroes ul li {
  width: 20%;
  float: left;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
/* line 434, dotaseeker.less */
.dotaseeker .fav-heroes ul li img {
  float: left;
  clear: both;
}
/* line 439, dotaseeker.less */
.dotaseeker .fav-heroes ul li .x {
  height: 45px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: #7d7e7d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
  /* IE6-9 */
  color: #fff;
  text-align: center;
}
/* line 448, dotaseeker.less */
.dotaseeker .fav-heroes ul li .x .icon_blocked {
  font-size: 25px;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.6);
}
/* line 458, dotaseeker.less */
.dotaseeker .matches {
  clear: both;
  width: 100%;
  float: left;
}
/* line 460, dotaseeker.less */
.dotaseeker .matches .match {
  clear: both;
  width: 100%;
  float: left;
  border-top: 1px solid #fff;
  margin-top: 15px;
}
/* line 464, dotaseeker.less */
.dotaseeker .matches .match:first-child {
  margin-top: 0;
}
/* line 467, dotaseeker.less */
.dotaseeker .matches .match .header {
  clear: both;
  width: 100%;
  float: left;
  text-transform: uppercase;
  font-size: 10px;
  background: #000;
  color: #fff;
  padding: 2px 5px;
}
/* line 474, dotaseeker.less */
.dotaseeker .matches .match .header span {
  display: inline-block;
  float: right;
}
/* line 476, dotaseeker.less */
.dotaseeker .matches .match .header span:first-child {
  float: left;
}
/* line 482, dotaseeker.less */
.dotaseeker .matches .match .hero {
  overflow: hidden;
  width: 40%;
  float: left;
  border: 1px solid #000;
  border-top: 2px solid #000;
}
/* line 489, dotaseeker.less */
.dotaseeker .matches .match .hero .hero-name {
  background: #000;
  color: #fff;
}
/* line 494, dotaseeker.less */
.dotaseeker .matches .match .hero .hero-name,
.dotaseeker .matches .match .hero .status {
  clear: both;
  width: 100%;
  float: left;
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
}
/* line 503, dotaseeker.less */
.dotaseeker .matches .match .hero .status.win {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006e2e+0,004900+96 */
  background: #006e2e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #006e2e 0%, #004900 96%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #006e2e 0%, #004900 96%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #006e2e 0%, #004900 96%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006e2e', endColorstr='#004900', GradientType=0);
  /* IE6-9 */
  color: #fff;
}
/* line 512, dotaseeker.less */
.dotaseeker .matches .match .hero .status.lose {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: #a90329;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
  /* IE6-9 */
  color: #fff;
}
/* line 523, dotaseeker.less */
.dotaseeker .matches .match .stats {
  width: 60%;
  float: left;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
/* line 530, dotaseeker.less */
.dotaseeker .matches .match .kda {
  clear: both;
  width: 100%;
  float: left;
  border-bottom: 1px solid #000;
}
/* line 534, dotaseeker.less */
.dotaseeker .matches .match .kda > div {
  width: 33.333%;
  float: left;
}
/* line 537, dotaseeker.less */
.dotaseeker .matches .match .kda > div:last-child {
  margin-right: 0;
}
/* line 540, dotaseeker.less */
.dotaseeker .matches .match .kda > div > span {
  font-size: 10px;
  display: inline-block;
  height: 17px;
  float: left;
  text-align: center;
  width: 60%;
  padding: 2px 0;
  background: #000;
  color: #000;
  border: 1px solid #999;
  border-left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
/* line 559, dotaseeker.less */
.dotaseeker .matches .match .kda > div > span:first-child {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
  /* IE6-9 */
  text-transform: uppercase;
  font-weight: bold;
  width: 40%;
  color: #fff;
  border: 0;
  border-right: 1px solid #999;
}
/* line 576, dotaseeker.less */
.dotaseeker .matches .match .items {
  clear: both;
  width: 100%;
  float: left;
}
/* line 578, dotaseeker.less */
.dotaseeker .matches .match .items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 583, dotaseeker.less */
.dotaseeker .matches .match .items ul li {
  width: 33.333%;
  float: left;
  height: 51.5px;
  background: #000;
}
/* line 588, dotaseeker.less */
.dotaseeker .matches .match .items ul li .x {
  width: 100%;
  height: 51.5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#696c75+0,212121+29,000000+53,212121+72,696c75+99 */
  background: #696c75;
  /* Old browsers */
  background: -moz-linear-gradient(top, #696c75 0%, #212121 29%, #000000 53%, #212121 72%, #696c75 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #696c75 0%, #212121 29%, #000000 53%, #212121 72%, #696c75 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #696c75 0%, #212121 29%, #000000 53%, #212121 72%, #696c75 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696c75', endColorstr='#696c75', GradientType=0);
  /* IE6-9 */
  border: 1px solid #000;
}
/* line 598, dotaseeker.less */
.dotaseeker .matches .match .items ul li .x .icon_blocked {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 17px 0;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
}
/* line 613, dotaseeker.less */
.dotaseeker .player {
  clear: both;
  width: 100%;
  float: left;
  border: 1px solid #ccc;
}
/* line 616, dotaseeker.less */
.dotaseeker .player.starred {
  border: 2px solid #FFD900;
}
/* line 619, dotaseeker.less */
.dotaseeker .player.starred .player-wrapper .icon_star {
  display: block;
}
/* line 624, dotaseeker.less */
.dotaseeker .player .player-wrapper {
  position: relative;
  clear: both;
  width: 100%;
  float: left;
}
/* line 627, dotaseeker.less */
.dotaseeker .player .player-wrapper .icon_star {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 20px;
  color: #FFD900;
  text-shadow: 1px 1px 10px #000;
}
/* line 638, dotaseeker.less */
.dotaseeker .player .mmr,
.dotaseeker .player .name {
  clear: both;
  width: 100%;
  float: left;
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 6px 0;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}
/* line 648, dotaseeker.less */
.dotaseeker .player .mmr {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  /* IE6-9 */
  color: #000;
}
/* line 658, dotaseeker.less */
.dotaseeker .list-players {
  margin-top: 10px;
}
/* line 662, dotaseeker.less */
.dotaseeker #ds-footer {
  clear: both;
  width: 100%;
  float: left;
  background: #000;
  border-top: 1px solid #fff;
  color: #fff;
  position: relative;
  z-index: 5;
}
/* line 669, dotaseeker.less */
.dotaseeker #ds-footer .container {
  margin: 10px auto;
}
/* line 672, dotaseeker.less */
.dotaseeker #ds-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 680, dotaseeker.less */
.dotaseeker .edit-form .edit-container {
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  clear: both;
  width: 100%;
  float: left;
  width: 50%;
}
/* line 681, dotaseeker.less */
.dotaseeker .edit-form .edit-container + .edit-container {
  margin-top: 0;
}
/* line 691, dotaseeker.less */
.dotaseeker .edit-form input[type="text"],
.dotaseeker .edit-form select {
  width: 50%;
  clear: both;
  width: 100%;
  float: left;
  border: 1px solid #999;
  border-radius: 2px;
  font-size: 16px;
  padding: 4px;
  font-weight: 500;
}
/* line 701, dotaseeker.less */
.dotaseeker .edit-form select {
  height: 32px;
}
/* line 705, dotaseeker.less */
.dotaseeker .edit-form .multi-select {
  padding: 4px 10px;
  border: 1px solid #c2c2c2;
  width: 50%;
}
/* line 709, dotaseeker.less */
.dotaseeker .edit-form .multi-select span {
  margin-left: 20px;
  float: left;
  text-transform: none;
  font-weight: 500;
}
/* line 710, dotaseeker.less */
.dotaseeker .edit-form .multi-select span:first-child {
  margin-left: 0;
}
/* line 714, dotaseeker.less */
.dotaseeker .edit-form .multi-select span:last-child input {
  margin-right: 4px;
}
/* line 723, dotaseeker.less */
.dotaseeker .edit-form .multi-select input {
  margin-right: 5px;
}
/* line 728, dotaseeker.less */
.dotaseeker .edit-form .edit-ds-heroes {
  clear: both;
  width: 100%;
  float: left;
  margin-top: 40px;
}
/* line 731, dotaseeker.less */
.dotaseeker .edit-form .edit-ds-heroes .edit-container,
.dotaseeker .edit-form .edit-ds-heroes .ds-heroes {
  margin-top: 0;
}
/* line 736, dotaseeker.less */
.dotaseeker .edit-form .ds-heroes {
  clear: both;
  float: left;
}
/* line 742, dotaseeker.less */
.dotaseeker .h1 {
  font-size: 40px;
  font-weight: 500;
}
/* line 747, dotaseeker.less */
.dotaseeker .btn {
  margin-top: 50px;
  width: 100px;
  float: left;
  border: 1px solid #000;
  padding: 5px;
  color: #000;
  background: #fff;
  box-shadow: 1px 1px 10px #999;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
}
/* line 762, dotaseeker.less */
.dotaseeker .btn:hover {
  background: #000;
  color: #fff;
}
/* line 767, dotaseeker.less */
.dotaseeker .btn + .btn {
  margin-left: 25px;
}
/* line 771, dotaseeker.less */
.dotaseeker .bg-container {
  position: relative;
  overflow: hidden;
}
/* line 776, dotaseeker.less */
.dotaseeker .ds-search-filters {
  clear: both;
  width: 100%;
  float: left;
}
/* line 780, dotaseeker.less */
.dotaseeker .filter-title {
  font-size: 16px;
  text-transform: uppercase;
}
/* line 784, dotaseeker.less */
.dotaseeker .filter-title .hero-name-display {
  font-weight: bold;
  float: right;
  display: inline-block;
}
/* line 791, dotaseeker.less */
.dotaseeker .ds-heroes {
  margin-top: 20px;
  width: 590px;
}
/* line 794, dotaseeker.less */
.dotaseeker .ds-heroes .hero-container {
  width: 488px;
  float: left;
}
/* line 797, dotaseeker.less */
.dotaseeker .ds-heroes .hero-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 802, dotaseeker.less */
.dotaseeker .ds-heroes .hero-container ul li {
  float: left;
  cursor: pointer;
  filter: grayscale(0);
  -ms-filter: grayscale(0);
  -webkit-filter: grayscale(0);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#535353+0,090909+100 */
  background: #535353;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #535353 0%, #090909 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #535353 0%, #090909 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #535353 0%, #090909 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#535353', endColorstr='#090909', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
/* line 815, dotaseeker.less */
.dotaseeker .ds-heroes .hero-container ul li img {
  border: 1px solid #000;
}
/* line 819, dotaseeker.less */
.dotaseeker .ds-heroes .hero-container ul li.hide img {
  position: relative;
  visibility: hidden;
}
/* line 825, dotaseeker.less */
.dotaseeker .ds-heroes .hero-container ul li:nth-child(8n+1) {
  clear: left;
}
/* line 830, dotaseeker.less */
.dotaseeker .ds-heroes .hero-container ul li:hover img,
.dotaseeker .ds-heroes .hero-container ul li.selected img {
  border: 1px solid #FFD000;
}
/* line 837, dotaseeker.less */
.dotaseeker .ds-heroes .hero-refine {
  font-size: 12px;
  margin-left: 2px;
  width: 100px;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  float: left;
  text-align: center;
}
/* line 846, dotaseeker.less */
.dotaseeker .ds-heroes .hero-refine ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 850, dotaseeker.less */
.dotaseeker .ds-heroes .hero-refine ul li {
  padding: 4px 0;
}
/* line 852, dotaseeker.less */
.dotaseeker .ds-heroes .hero-refine ul li:not(.option) {
  background: #000;
  color: #fff;
  text-transform: uppercase;
}
/* line 858, dotaseeker.less */
.dotaseeker .ds-heroes .hero-refine ul li.option {
  cursor: pointer;
}
/* line 860, dotaseeker.less */
.dotaseeker .ds-heroes .hero-refine ul li.option.selected {
  background: #c2c2c2;
}
/*# sourceMappingURL=dotaseeker.css.map */